.scroll-container {
  overflow: auto;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track {
  background-color: #252525 !important;
  border-radius: 4px !important;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-handle {
  background-color: #808080 !important;
  border-radius: 4px !important;
}
.os-scrollbar-auto-hidden {
  opacity: 1 !important;
  visibility: visible !important;
}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track {
  background-color: transparent !important;
}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background-color: #000 !important;
  border-radius: 0 !important;
}
.os-scrollbar-horizontal {
  width: 60%;
  margin: 0 auto;
  bottom: 2%;
  --os-size: 14px;
  --os-handle-bg: #000;
  --os-handle-bg-hover: #000;
  --os-handle-bg-active: #000;
}
.os-scrollbar-horizontal .os-scrollbar-track::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1%;
  width: 98%;
  height: 1.2px;
  background: #000;
}

@media screen and (max-width: 720px) {
  .os-theme-dark > .os-scrollbar-vertical {
    width: 9px !important;
  }
  .ps__thumb-y {
    width: 5px !important;
  }
  .ps__rail-y {
    width: 5px !important;
  }
  .ps__rail-y.ps--clicking .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y:hover > .ps__thumb-y {
    width: 5px !important;
  }
}
.os-host-overflow {
  overflow: visible !important;
}
.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
  right: -12%;
}
